body{
  background: #E0E0E2;
  font-family: 'Poppins', sans-serif;
}

h1{
  color: black;
}

#profile{
  text-align: left;
}

#btnBox{
  background: #81D2C7;
  margin-top:50px;
  border:7px solid white;
}

#line{
  background-color: black;
  height:4px;
  width:100%;
  border-radius: 100px;
}

#profilePic{
  height:300px;
  width:300px;
  border: 7px solid white;
  border-radius: 1000px;
  margin-top: 30px;
}

#profileImg{
  border-radius: 100px;
  height:30px;
  width:30px;
  margin-left: 10px;
  display: inline-block;

}

#noline{
  &:after {
  display:none;
  }
  &:hover {
    color:#81D2C7;
  }
}

.logo{
  float:left;
}
#logo{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  a{
    color:black;
    &:after {
    display:none;
    }
  }

}

#logoimg{
  height: 40px;
  width:40px;
  margin-right:5px;
}

#map{
  height: 87vh;
 background-color: grey;
}

#login{
  border: 2px solid black;
  margin: 5px;
  border-radius: 40px;
  text-align: left;
  background: #FDFFEB;
  padding-bottom: 20px;
}

#register{
  position:relative;
  z-index:2;
  border: 2px solid black;
  margin: 5px;
  border-radius: 40px;
  text-align: left;
  background: #FDFFEB;
  h2{
      margin-top:-50px;
  }
  form{
    padding-left: 30px;
  }
}

#text{
  margin-top: -80px;
}

#loginImage{
  height:86.5vh;
  border:2px solid white;
  border-radius: 100px;
  width:500px;
  display: inline-block;
}

footer{
  z-index:5;
  p{
    float:right;
    padding-right: 30px;
    display:block;
    opacity: 0.7;
    height: 8px;
    font-size: 13px;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
.mediabtn{
  height:30px;
  width: 30px;
}
li {
  display: inline-block;
  float: left;
  margin-left: 20px;
  line-height: 40px;
}
}
header {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 50px;
  //background: linear-gradient(#7389AE, #B5BAD0);
  background:#416788;
  transition: background-color 0.2s ease;
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        float: right;
        margin-left: 20px;
        line-height: 50px;
        &:last-of-type {
          margin-left: 0;
        }
        &.menu {
          color: white;
          cursor: pointer;
          display: none;
          font-size: 20px;
        }
        a {
          color: white;
          font-weight: bold;
          position: relative;
          &:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #81D2C7;
            position: absolute;
            bottom: -4px;
            left: 0;
            opacity: 0;
            transition: opacity 0.2s ease;
          }
          &:hover {
            color:white;
            text-decoration: none;
            &:after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

section {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
  border-bottom: 2px solid #81D2C7;
  &:last-of-type {
    border-bottom: 0;
  }
  h2 {
    font-size: 28px;
  }
}

#hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/hero-image.jpg');
}

#hero2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../assets/images/hero2-image.jpg');
}

.hero {
  height: 90vh;
  background-position: center;
  background-size: cover;
  position: relative;
  h1 {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
}

footer {
  background-color: rgba(20, 20, 20, 1);
  padding: 10px 0;
  text-align: center;
  color: white;
  position: fixed;
  bottom: 0;
  width:100%;
}

@media only screen and (max-width: 575px) {

  header {
    height: auto;
    nav {
      ul {
        li {
          display: block;
          float: none;
          text-align: right;
          &.menu {
            display: block;
          }
        }
        .dropdown {
          display: none;
        }
      }
    }
  }
}
