<div class ="container">
  <div class="row">
    <div class="col-lg-6" >
      <img id ="loginImage"src="../assets/images/login-image.jpg" alt="people at a show">
    </div>
    <div class="col-lg-5" id="login">
<h1>Login</h1>

<form method="POST" action="/login">
  <div>
    <label for="email">Email</label>
    <input type="text" name="email" id="email" required>
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
  </div>

  <button class="button">Login</button>
</form>
</div>
</div>
</div>
